<div class="score">
    <p>Score: <b id="score">0</b></p>
</div>

<div class="conversation-container">
    <div class="detective-container">
        <div class="detective-text">
            <p id="question"></p>
        </div>
    </div>

    <div class="prisoner-container">
        <div class="prisoner-text">
            <p> My choice is..</p>
            <div id = "numberButtons">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/controlCenter.js"></script>